/* https://colorhunt.co/palette/141044 */
*{
    margin: 0;
    box-sizing: border-box;
}
.logo{
    height: 20vh;
    float: left;
    background-color: #0900c3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin: 5px;
    max-height: 100px;
}
img{
    height: 90%;
}
.header{
    height: 20vh;
    background-color: #0900c3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1, h2{
    color: #ffce76;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
h1{
    font-size: 100%;
}
.menu{
    width: 40px;
    height: 40px;
    background-color: #0075f6;
    border: 2px solid #ffce76;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px rgb(73, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu:hover{
    cursor: pointer;
}
.linea_menu{
    background-color: #ffce76;
    border-radius: 5px;
    height: 10%;
    width: 85%;
    margin: 2px;
}
.menu:hover .linea_menu:first-child{
    position: absolute;
    transform: rotate(45deg);
    transition-duration: 1s;
}
.menu:hover .linea_menu:nth-child(2){
    display: none;
    transition-duration: 1s;
}
.menu:hover .linea_menu:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
    transition-duration: 1s;
}
.desplegable{
    z-index: 10;
    position: absolute;
    top: 20vh;
    background-color: #0900c3;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
.hidden{
    display: none;
}
.button{
    background-color: #0075f6;
    color: wheat;
    text-transform: uppercase;
    border: 1.5px solid #ffce76;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    height: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.main{
    height: 60vh;
    background-color: #1d1919;
    color: #a8a5e9;
}
.main div{
    padding: 10px;
    text-align: center;
}
.footer{
    height: 20vh;
    background-color: #0900c3;
    font-size: .8em;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    color: #a8a5e9;
}
.footer p{
    font-size: 1.3em;
    padding: 3px;
    width: 35%;
    text-align: center;
}
.footer a, .descripcion a{
    color: #a8a5e9;    
}
.footer a:hover, .descripcion a:hover{
    color: #807cdb;
    font-weight: 600;
}
.footer ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3px;
    align-content: space-around;
}
.footer ul li{
    display: block;
    text-align: center;
}

/* Acá quiero hacer el diseño responsive */

@media only screen and (orientation: landscape) {
    /* Más ancho que largo */
}

@media only screen and (min-width: 768px) {
    /* Tablet */
}

@media only screen and (min-width: 992px) {
    /* Desktop */
}